@media (width > 800px){
  *{
    width: auto;
    height: auto;
}
body{
    background-color: whitesmoke;
    color: rgb(233, 233, 233);
}
header{
    background-color: white;
    width: 100%;
    height: 30%;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.search-logo-menu{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
    border-bottom: 0.5px solid #ddd;
    height: 65px;
}
.logo img{
    width: 130px;
    height: auto;
    margin-left: 150px;
    margin-top: 7px;;
}
.search-container{
    margin: 10px;
    display: inline;
    
}
.search-container input{
    border: 2px solid rgb(97, 151, 233);
    width: 300px;
    height: 25px;
}
.search-container a{
    border: 2px solid rgb(97, 151, 233);
    text-decoration: none;
    color: black;
    padding: 5px;
}
.search-container button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(97, 151, 233);
    border: 3px solid rgb(97, 151, 233);
    color: white;
    height: 30px;
    width: 70px;
}
.details ul{
    list-style: none;
    display: flex;
    color: gray;
    flex-direction: row;
    padding: 3px;
    margin-top:0px;
}
.details ul li{
    width: 70px;
}
.details ul  a{
   text-decoration: none;
   color: gray;
}
figcaption{
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
}
nav {
    background-attachment: fixed;
    background-color: white;
    display: inline;
}
nav a{
    color: black;
    justify-content: space-evenly;
    width: 200px;
    text-decoration: none;
    padding-right: 10px;
    margin-top: 2px;
    margin-left: 30px;
}
nav img{
    width: 30px;
    height: 17px;
}
.right-menu {
    margin-left: 250px;
}
.top-list{
  display: none;
}
ul.breadcrumb {
    
    list-style: none;
    background-color: whitesmoke;
  }
  
  ul.breadcrumb li {display: inline;
     color: gray;
     margin-right: 10px;
}
  
  ul.breadcrumb li+li:before {
    padding-right: 8px;
    color: black;
    content: "\003E";
  }
  ul.breadcrumb li a {color: gray;
   text-decoration: none;
}
.top-info{
    
    width: 70%;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    color: black;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    height: auto;
}
.top-info #feature{
    color: black;
    width: 100px;
    height: 10px;
    padding: 7px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.top-info .grids i{
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    padding: 5px;
}

.left-col{
    width: 25%;
    float: left;
    margin-left: 0px;
    margin-top: -5%;
}
.sidebar{
    padding: 20px 30px;
    margin-top: 30px;
    color: gray;
}
.sidebar h2{
    font-weight: 500;
    color: black;
}
.sidebar h3{
    color: black;
}
.sidebar .closebtn{
  display: none;
}
.filter-section-brands{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-type{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-features{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-range{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-condition{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-rating{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-type a{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    text-decoration: none;
    color: gray;
}
.filter-section-type p{
    text-decoration: underline;
    color: rgb(22, 97, 236);
}
.filter-section-brands label{
    color: black;
}
.filter-section-range {
    border-top: 1px solid gray;
    padding: 16px;
  }

 .filter-section-range .slider {
    position: relative;
    height: 30px;
  }

 .slider input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    height: 16px;
    width: 100%;
    appearance: none;
    height: 4px;
    background: transparent;
    outline: none;
    border-radius: 5px;
    margin: 8px 0;
    pointer-events: none;
  }
.slider-track{
    width: 18%;
    height: 5px;
    background-color: white;
    position: absolute;
    margin: auto;
    border-radius: 5px;

}
 .slider input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: rgb(70, 135, 233);
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -9px;
  }
  .slider input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
  }
  .slider input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: none;
  }
 .filter-section-range .inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

 .filter-section-range .inputs input {
    width: 45%;
    padding: 6px;
    font-size: 14px;
  }

 .filter-section-range button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: white;
    color: #4285f4;
    font-weight: bold;
    cursor: pointer;
  }
  .list-product{
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    color: black;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 70%;
    margin-top: 20px;
    margin-left: 40px;
    float: right;
  }
  .list-product .name{
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  .list-product .price{
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  .list-product .discount{
    color: gray;
    font-size: 15px;
  }
  .list-product ul li:first-child{
    list-style: none;
    color: orange;
  }
  .list-product ul{
    display: grid;
    grid-template-columns: auto auto auto;
    color: gray;
    justify-content: space-around;
    width: 50%;
  }
  .list-product ul li:last-child{
    color: green;
  }
  .list-product p:last-child{
    color: gray;
    font-size: 15px;
  }
  .list-product button:hover{
    cursor: pointer;
  }
  .list-product button{
    border: none;
    background-color: transparent;
    color: blue;
  }
  .heart-check{
    border: 1px solid gray;
    background-color: white;
    height: 5vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 20px;
}
.heart-check input{
    border: 1px solid rgb(54, 151, 241);
}
.heart-check input[type="checkbox"]{
    height: 10px;
    width: 10px;
    background-color: white;
    position: relative;
    outline: none;
    
    transform: rotate(45deg);
    -webkit-appearance: none;
}
.heart-check input[type="checkbox"]:before{
    position: absolute;
    border-top: 1px solid rgb(54, 151, 241);
    border-right: 1px solid rgb(54, 151, 241);
    border-left: 1px solid rgb(54, 151, 241);
    content: "";
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 100%;
    top: -59%;
    border-radius: 75px 75px 0 0;
    
}
.heart-check input[type="checkbox"]:after{
    border-top: 1px solid rgb(54, 151, 241);
    
    border-left: 1px solid rgb(54, 151, 241);
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 79%;
}
.heart-check input[type="checkbox"]:checked,
.heart-check input:checked[type="checkbox"]:before,
.heart-check input:checked[type="checkbox"]::after{
    background-color: palevioletred;
    border: none;
}
.pagination {
    display: block;
    float: right;
    margin-left: 150px;
  }
.pagination a {
    background-color: white;
    border: 1px solid #e2e2e2;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 100px;
  }
  
  .pagination a.active {
    background-color: white;
    color: black;
  }
  
  .pagination a:hover:not(.active) {background-color: #e2e2e2}
  .Subscribe-box{
    background-color: rgb(230, 230, 230);
    text-align: center;
    color: grey;
    margin-top: 1800px;
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 10px;}
.Subscribe-box h3{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.Subscribe-box input{
    width: 180px;
    border: none;
    height: 30px;
}
.Subscribe-box button{
    background-color: rgb(100, 211, 245);
    color: white;
    padding: 5px;
    width: 70px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    height: 30px;
}
.bottom{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: gray;
        text-align: center;
       display: grid;
       grid-template-columns: auto auto auto auto auto auto;
       padding-bottom: 10px;
}
.footer{
    margin-top: 10%;
    margin-left: 5%;
}
.list-info{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 50px;
    margin-left: 10px;
}
.list-info h3{
    margin-top: 30px;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.list-info a{
    text-decoration: none;
    text-align: center;
    color: grey;
    justify-content: space-between;
    list-style: none;
}
.about{
    display: flex;
    flex-direction:  column;
}
.partner{
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
    flex-direction: column;
    width: auto;
}

.user{
    display: flex;
    flex-direction: column;
}
.buttons li button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-left: -70%;
    margin-top: 30%;
    gap: 5%;
}
.buttons li{
    list-style: none;
}
.button-text{
    font-size: 7px;
}
.social-media i{
    height: 20px;
    width: auto;
}

.copyright{
    background-color: rgb(230, 230, 230);
    color: gray;
    width: 100%;
    padding-bottom: 10px;
}
.copyright p{
    margin-left: 10px;
}
.copyright img{
    margin-top: 20px;
}
.copyright .flag{
  margin-left: 75%;
}
}
    /* Responsive Design */
    @media (max-width: 768px) {
      #mySidebar{
        width: 980%;
        height: 100%;
        z-index: 1;
        background-color: white;
        padding: 10%;
        color: black;
      }
      #mySidebar a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: black;
      }
      #mySidebar button{
        top: 0;
        right: 0;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 10px;
      }
      body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  header,
  nav,
  section,
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  
  .details ul,
  footer .footer,
  footer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  .product,
  figure {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
  }
  .Subscribe-box input,
  .buttons button {
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #sidebar{
    display: none;
  }

  .heart-check{
    border: 1px solid gray;
    background-color: white;
    height: 5vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 20px;
}
.heart-check input{
    border: 1px solid rgb(54, 151, 241);
}
.heart-check input[type="checkbox"]{
    height: 10px;
    width: 10px;
    background-color: white;
    position: relative;
    outline: none;
    
    transform: rotate(45deg);
    -webkit-appearance: none;
}
.heart-check input[type="checkbox"]:before{
    position: absolute;
    border-top: 1px solid rgb(54, 151, 241);
    border-right: 1px solid rgb(54, 151, 241);
    border-left: 1px solid rgb(54, 151, 241);
    content: "";
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 100%;
    top: -59%;
    border-radius: 75px 75px 0 0;
    
}
.heart-check input[type="checkbox"]:after{
    border-top: 1px solid rgb(54, 151, 241);
    
    border-left: 1px solid rgb(54, 151, 241);
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 79%;
}
.heart-check input[type="checkbox"]:checked,
.heart-check input:checked[type="checkbox"]:before,
.heart-check input:checked[type="checkbox"]::after{
    background-color: palevioletred;
    border: none;
}
  
  .list-product{
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    color: black;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 70%;
    margin-top: 20px;
    margin-left: 40px;
    float: right;
  }
  .list-product .name{
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  .list-product .price{
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  .list-product .discount{
    color: gray;
    font-size: 15px;
  }
  .list-product ul li:first-child{
    list-style: none;
    color: orange;
  }
  .list-product ul{
    display: grid;
    grid-template-columns: auto auto auto;
    color: gray;
    justify-content: space-around;
    width: 50%;
  }
  .list-product ul li:last-child{
    color: green;
  }
  .list-product p:last-child{
    color: gray;
    font-size: 15px;
  }
  .list-product button:hover{
    cursor: pointer;
  }
  .list-product button{
    border: none;
    background-color: transparent;
    color: blue;
  }
  .pagination {
    display: block;
    float: right;
    margin-left: 150px;
  }
.pagination a {
    background-color: white;
    border: 1px solid #e2e2e2;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 100px;
  }
  
  .pagination a.active {
    background-color: white;
    color: black;
  }
   .Subscribe-box{
    background-color: rgb(230, 230, 230);
    text-align: center;
    color: grey;
    margin-top: 1600px;
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 10px;}
.Subscribe-box h3{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.Subscribe-box input{
    width: 180px;
    border: none;
    height: 30px;
}
.Subscribe-box button{
    background-color: rgb(100, 211, 245);
    color: white;
    padding: 5px;
    width: 70px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    height: 30px;
}
  .pagination a:hover:not(.active) {background-color: #e2e2e2}
      .container {
        flex-direction: column;
      }

      .filters {
        order: 1;
      }

      .product-list {
        order: 2;
      }
 body {
      font-size: 14px;
      overflow-x: hidden;
      background-color: whitesmoke;
    }
  .search-container{
    display: none;
  }
  .search-logo-menu{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e2e2e2;
    height: 6em;
    width: 80%;
    margin-left: 5%;
  }
  .details .display1{
    display: none;
  }
  .logo {
    margin-top: -7%;
    width: 20%;
  }
  .logo img{
    width: 170%;
  }
  .details ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0%;
    width: 100%;
    max-width: 100%;
  }
  .details ul li{
    list-style: none;
    padding: 2%;
  }
  .details ul a{
    text-decoration: none;
    color: black;
  }
  nav a{
    display: none;
    padding-left: 0%;
    text-decoration: none;
    color: black;
  }
  nav {
    min-width: 100%;
    margin-left: 2%;
    margin-top: 5%;
    max-width: 73%;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 2%;
  }
  nav a:first-child{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
  }
  nav .right-menu{
    display: flex;
    flex-direction: row;
    margin-right: -10%;
  }
  nav a:last-child{
    margin-top: 0%;
    margin-left: 2%;
    margin-right: -65%;
    display: flex;
    flex-direction: row;
  }
  nav a img{
    width: 10%;
    height: auto;
  }
     
ul.breadcrumb {
    width: 100%;
    margin-left: -10%;
    list-style: none;
    background-color: whitesmoke;
  }
  
  ul.breadcrumb li {display: inline;
     color: gray;
     margin-right: 1%;
}
  
  ul.breadcrumb li+li:before {
    padding-right: 2%;
    color: black;
    content: "\003E";
  }
  ul.breadcrumb li a {color: gray;
   text-decoration: none;
}
.top .top-list{
    flex-wrap: wrap;
   max-width: 50%;
   min-width: 100%;
   align-items: center;
   margin-left: -30%;
  }
  .top-list ul{
    max-width: 70%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-left: -10%;
  }
  .top-list ul a li{
    list-style: none;
    color: white;
    background-color: rgb(100, 173, 255);
    border-radius: 6px;
    width:100%;
    padding: 0.3em;
   
  }
  .top-list ul a{
    text-decoration: none;
    margin-right: 2%;
  }
  .top-list .remove-item{
    display: none;
  }.top-info{
    display: none;
  }
  #sidebar{
    display: none;
  }
 #sidebar .closebtn{
    margin-right: -5%;
    right: 0;
    margin-left: 90%;
    text-decoration: none;
    color: black;
 }
  .left-col{ background-color: white;
     z-index: 1;
     width: 85%;
     padding: 30px;
     margin-top: 10px;
     position: absolute;
     top: 0;
     left: 0;
     color: black;
}
.side-bar{
    padding: 20px 30px;
    margin-top: 30px;
    color: gray;
}
.side-bar h2{
    font-weight: 500;
    color: black;
}
.side-bar h3{
    color: black;
}
.filter-section-brands{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-type{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-features{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-range{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-condition{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-rating{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-type a{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    text-decoration: none;
    color: gray;
}
.filter-section-type p{
    text-decoration: underline;
    color: rgb(22, 97, 236);
}
.filter-section-brands label{
    color: black;
}
.filter-section-range {
    border-top: 1px solid gray;
    padding: 16px;
  }

 .filter-section-range .slider {
    position: relative;
    height: 30px;
  }

 .slider input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    height: 16px;
    width: 100%;
    appearance: none;
    height: 4px;
    background: transparent;
    outline: none;
    border-radius: 5px;
    margin: 8px 0;
    pointer-events: none;
  }
.slider-track{
    width: 18%;
    height: 5px;
    background-color: white;
    position: absolute;
    margin: auto;
    border-radius: 5px;

}
 .slider input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: rgb(70, 135, 233);
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -9px;
  }
  .slider input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
  }
  .slider input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: none;
  }
 .filter-section-range .inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

 .filter-section-range .inputs input {
    width: 45%;
    padding: 6px;
    font-size: 14px;
  }

 .filter-section-range button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: white;
    color: #4285f4;
    font-weight: bold;
    cursor: pointer;
  }
  .list-product{
    margin-left: -20%;
    margin-right: 3%;
    width: 95%;
    font-size: 14px;
    font-weight: 500;
  }
  .list-product .product-info-details{
    display: none;
  }
  .list-product .product-img img{
    width: 8em;
  }
  .list-product div ul{
    width: 100%;
    margin-left: -20%;
  }
  .heart-check{
    width: 20%;
    height: 3em;
    margin-top: -5%;
  }
  .list-product button{
    margin-left: -5%;
  }
  .pagination{
    bottom: 0;
    right: 0;
    margin-bottom: -300%;
    margin-right: 5%;
    margin-left: -25%;
    position: absolute;
  }
  .Subscribe-box{
    align-items: center;
  }
  .Subscribe-box h3{
    margin-left: 10%;
  }
  .Subscribe-box p{
    margin-left: -5%;
  }
  .Subscribe-box input{
    width: 60%;
    margin-left: 7%;
  }
  .Subscribe-box button{
    margin-left: -20%;
    margin-right: 10%;
  }
   .bottom .list-info{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -5%;
    margin-right: 5%;
  }  
  .list-info ul a li{
    text-decoration: none;
    color: gray;
    list-style: none;
  }
  .list-info ul a{
    text-decoration: none;
  }
  .buttons-text{
    left: 0;
    margin-left: -170%;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    width: 120%;
    list-style: none;
  }
  .buttons button{
    background-color: black;
    color: white;
    margin-top: 10%;
    margin-left: -20%;
    gap: 5%;
  }
  .copyright{
    background-color: white;
    width: 100%;
    padding: 3% 0%;
  }
  .copyright .flag{
    margin-left: 30%;
  }
    }
