@media (width > 800px) {
  *{
    width: auto;
    height: auto;
}
body{
    background-color: whitesmoke;
    font-family: 'Inter' , sans-serif;
    color: white;
}
header{
    background-color: white;
    width: 100%;
    height: 30%;
    padding-bottom: 10px;
}
.search-logo-menu{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
    border-bottom: 0.5px solid gray;
    height: 65px;
}
.logo img{
    width: 130px;
    height: auto;
    margin-left: 150px;
    margin-top: 7px;;
}
.search-container{
    margin: 10px;
    display: inline;
    
}
.search-container input{
    border: 2px solid rgb(97, 151, 233);
    width: 300px;
    height: 25px;
}
.search-container a{
    border: 2px solid rgb(97, 151, 233);
    text-decoration: none;
    color: black;
    padding: 5px;
}
.search-container button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(97, 151, 233);
    border: 3px solid rgb(97, 151, 233);
    color: white;
    height: 30px;
    width: 70px;
}
.details ul{
    list-style: none;
    display: flex;
    color: gray;
    flex-direction: row;
    padding: 3px;
    margin-top:0px;
}
.details ul li{
    width: 70px;
}
.details ul a{
    text-decoration: none;
    color: gray;
}
figcaption{
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
}
nav {
    background-attachment: fixed;
    background-color: white;
    display: inline;
}
nav a{
    color: black;
    justify-content: space-evenly;
    width: 200px;
    text-decoration: none;
    padding-right: 10px;
    margin-top: 2px;
    margin-left: 30px;
}
nav img{
    width: 30px;
    height: 17px;
}
.right-menu {
    margin-left: 250px;
}
ul.breadcrumb {
    
    list-style: none;
    background-color: whitesmoke;
  }
  
  ul.breadcrumb li {display: inline;
     color: gray;
     margin-right: 10px;
}
  
  ul.breadcrumb li+li:before {
    padding-right: 8px;
    color: black;
    content: "\003E";
  }
  ul.breadcrumb li a {color: gray;
   text-decoration: none;
}
.details-product .images{
    width: auto;
}
.details-product .images:first-child{
    width: 50%;
    height: 50%;
    margin-top: 60px;
}
.details-product .more-img:hover{
   object-fit: cover;
}
.details-product .more-img{
    width: 30%;
    height: 20%;
    display: inline-flex;
}
.details-product{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: black;
    padding-top: 10px;
}

.details-product .details-paragraph .stock{
    color: green;
}
.details-product .details-paragraph .list-details{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 350px;
    color: gray;
}
.details-product .details-paragraph .list-details li:first-child{
    list-style: none;
}
.details-product .details-paragraphs .list-details li{
    color: gray;
    margin-right: 200px;
    list-style: none;
    justify-content: space-around;
 
}
.details-product .details-paragraph .prices{
    background-color: rgb(247, 203, 121);
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}
.details-product .details-paragraph .prices li{
    list-style: none;
    text-align: left;
    margin-left: 5px;
}
.details-product .details-paragraph .prices li:last-child{
    border-right: none;
}
.details-product .details-paragraph .prices .price{
    font-size: 18px;
    font-weight: 400;
}
.details-product .details-paragraph .prices .pieces{
    font-size: 15px;
    font-weight: 400;
}
.more-info,.products-detail,.products-grantuee{
    color: gray;
    
    border-bottom: 1px solid #e2e2e2;
    display: grid;
    grid-template-columns: auto auto;
}
.products-grantuee{
    margin-bottom: 10px;
}
.more-details{
    color: black;
    
}
.shipping-details-heading{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #e2e2e2;
    justify-content: space-around;
}
.shipping-details-heading i{
    margin-top: 15px;
    margin-left: 20px;
    background-color: rgb(127, 236, 255);
    height: 2px;
    border-radius: 6px;
    padding: 20px;
    width: 2px;
}
.shipping-details{
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 90%;
    margin-left: 20px;
    background-color: white;
    height: 65%;
}
.shipping-details .details-supplier{
    color: black;
    font-size: 18px;
    margin-bottom: 20px;

}
.shipping-details-more li{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    color: gray; 
    text-align: center;
    align-items: left;
}
.shipping-details-more li img{
    width: 40%;
    height: 40%;
    margin-left: 30px;
    margin-top: 10px;
}
.shipping-details-more i{
    padding: 10px;
    align-items: left;
}
.shipping-details-more p{
    font-size: 18px;
    margin-left: 0;
    text-align: center;
    margin-right: 50px;
}
.submit1{
    background-color: rgb(0, 183, 255);
    color: white;
    border-radius: 6px;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    border: none;
    justify-self: center;
    margin-left: 40px;
    margin-bottom: 10px;
}
.shipping-details button:hover{
    cursor: pointer;
}
.submit2{
    background-color: white;
    color: rgb(0, 183, 255);
    border-radius: 6px;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    border: 1px solid gray;
    justify-self: center;
    margin-left: 40px;
}
.save-for-later{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 30px;
  }
  
  .save-for-later figure img{
    width: 90%;
    height: 60%;
    background-color: gray;
    border: 1px solid #ddd;
  }
  .save-for-later figure figcaption .price{
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;

  }
  .save-for-later figure figcaption {
    color: gray;
    font-size: 18px;
    justify-content: left;
    text-align: left;
    margin-left: 20px;
  }
  .save-for-later figure figcaption button{
    padding: 10px;
    background-color: transparent;
    color:#007BFF;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #ddd;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  .description-bar{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .description-bar .more-item{
    background-color: white;
    color: black;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    width: 90%;
    margin-top: 10px;
    height: auto;
    margin-left: 40px;
  }
  .description-bar .more-item li{
    list-style: none;
    display: flex;
  }
  .description-bar .more-item li span{
  color: gray;
  margin-top: 50px;
  margin-left: 0px;
  text-align: left;
  justify-content: left;
  
  }
  .description-bar .more-item img{
    border: 1px solid #e2e2e2;
    width: 20%;
    margin-right: 10px;
    height: 20%;
    margin-bottom: 5px;
  }
  .more-item h3:first-child{
    margin-left: 40px;
    margin-top: 20px;
  }
  .Description-product nav{
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
    width: 80%;
  }
  .Description-product nav ul{
    color: gray;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-right: 200px;
  }
  .Description-product nav ul li{
    list-style: none;
  }
  .Description-product nav .active{
    color: #007BFF;
    border-bottom: 1px solid #007BFF;
  }
  .Description-product{
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background-color: white;
    margin-top: 10px;
    width: 100%;
  }
  .Description-product p:first-child{
    color: black;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
  }
  .Description-product table{
    color: black;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    margin-top: 30px;
    margin-left: 50px;
  }
  .Description-product tr{
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 5px;
    height: 40px;
    width: 200px;
  }
  .Description-product td{
    border-bottom: 1px solid #e2e2e2;
  }
  .Description-product .table-heading{
    color: black;
    background-color: whitesmoke;
    width: 200px;
    border-right: 1px solid #e2e2e2;
  }
 
  .quality li i{
    color: gray;
    margin-bottom: 10px;
  }
  .quality li{
    margin-top: 10px;
    list-style: none;
    color: black;
  }
  .discount-offer{
    background: linear-gradient(to right,#007BFF,#0056b3);
    color: white;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  .discount-offer button{
    background-color: rgb(255, 208, 0);
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    padding: 10px;
  }
.bottom{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: gray;
        text-align: center;
       display: grid;
       grid-template-columns: auto auto auto auto auto auto;
       padding-bottom: 10px;
}
.footer{
    margin-top: 10%;
    margin-left: 5%;
}
.list-info{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 50px;
    margin-left: 10px;
}
.list-info h3{
    margin-top: 30px;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.list-info a{
    text-decoration: none;
    text-align: center;
    color: grey;
    justify-content: space-between;
    list-style: none;
}
.about{
    display: flex;
    flex-direction:  column;
}
.partner{
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
    flex-direction: column;
    width: auto;
}

.user{
    display: flex;
    flex-direction: column;
}
.buttons li button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-left: -70%;
    gap: 10%;
}
.buttons li{
    list-style: none;
}
.button-text{
    font-size: 7px;
}
.social-media i{
    height: 20px;
    width: auto;
}
.copyright{
    background-color: rgb(230, 230, 230);
    color: gray;
    width: 98%;
    padding-bottom: 10px;
}
.copyright p{
    margin-left: 10px;
}
.copyright img{
    margin-top: 20px;
}
}
    /* Responsive Design */
    @media (max-width: 768px) {
      body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  header,
  nav,
  section,
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  
  .details ul,
  footer .footer,
  footer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  .product,
  figure {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
  }
  .Subscribe-box input,
  .buttons button {
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #sidebar{
    display: none;
  } 
  .details-product .images{
    width: auto;
}
.details-product .images:first-child{
    width: 50%;
    height: 50%;
    margin-top: 60px;
}
.details-product .more-img:hover{
   object-fit: cover;
}
.details-product .more-img{
    width: 30%;
    height: 20%;
    display: inline-flex;
}
.details-product{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: black;
    padding-top: 10px;
}

.details-product .details-paragraph .stock{
    color: green;
}
.details-product .details-paragraph .list-details{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 350px;
    color: gray;
}
.details-product .details-paragraph .list-details li:first-child{
    list-style: none;
}
.details-product .details-paragraphs .list-details li{
    color: gray;
    margin-right: 200px;
    list-style: none;
    justify-content: space-around;
 
}
.details-product .details-paragraph .prices{
    background-color: rgb(247, 203, 121);
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}
.details-product .details-paragraph .prices li{
    list-style: none;
    text-align: left;
    margin-left: 5px;
}
.details-product .details-paragraph .prices li:last-child{
    border-right: none;
}
.details-product .details-paragraph .prices .price{
    font-size: 18px;
    font-weight: 400;
}
.details-product .details-paragraph .prices .pieces{
    font-size: 15px;
    font-weight: 400;
}
.more-info,.products-detail,.products-grantuee{
    color: gray;
    
    border-bottom: 1px solid #e2e2e2;
    display: grid;
    grid-template-columns: auto auto;
}
.products-grantuee{
    margin-bottom: 10px;
}
.more-details{
    color: black;
    
}
.shipping-details-heading{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #e2e2e2;
    justify-content: space-around;
}
.shipping-details-heading i{
    margin-top: 15px;
    margin-left: 20px;
    background-color: rgb(127, 236, 255);
    height: 2px;
    border-radius: 6px;
    padding: 20px;
    width: 2px;
}
.shipping-details{
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 90%;
    margin-left: 20px;
    background-color: white;
    height: 65%;
}
.shipping-details .details-supplier{
    color: black;
    font-size: 18px;
    margin-bottom: 20px;

}
.shipping-details-more li{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    color: gray; 
    text-align: center;
    align-items: left;
}
.shipping-details-more li img{
    width: 40%;
    height: 40%;
    margin-left: 30px;
    margin-top: 10px;
}
.shipping-details-more i{
    padding: 10px;
    align-items: left;
}
.shipping-details-more p{
    font-size: 18px;
    margin-left: 0;
    text-align: center;
    margin-right: 50px;
}
.submit1{
    background-color: rgb(0, 183, 255);
    color: white;
    border-radius: 6px;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    border: none;
    justify-self: center;
    margin-left: 40px;
    margin-bottom: 10px;
}
.shipping-details button:hover{
    cursor: pointer;
}
.submit2{
    background-color: white;
    color: rgb(0, 183, 255);
    border-radius: 6px;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    border: 1px solid gray;
    justify-self: center;
    margin-left: 40px;
}
.save-for-later{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 30px;
  }
  
  .save-for-later figure img{
    width: 90%;
    height: 60%;
    background-color: gray;
    border: 1px solid #ddd;
  }
  .save-for-later figure figcaption .price{
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;

  }
  .save-for-later figure figcaption {
    color: gray;
    font-size: 18px;
    justify-content: left;
    text-align: left;
    margin-left: 20px;
  }
  .save-for-later figure figcaption button{
    padding: 10px;
    background-color: transparent;
    color:#007BFF;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #ddd;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  .description-bar{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .description-bar .more-item{
    background-color: white;
    color: black;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    width: 90%;
    margin-top: 10px;
    height: auto;
    margin-left: 40px;
  }
  .description-bar .more-item li{
    list-style: none;
    display: flex;
  }
  .description-bar .more-item li span{
  color: gray;
  margin-top: 50px;
  margin-left: 0px;
  text-align: left;
  justify-content: left;
  
  }
  .description-bar .more-item img{
    border: 1px solid #e2e2e2;
    width: 20%;
    margin-right: 10px;
    height: 20%;
    margin-bottom: 5px;
  }
  .more-item h3:first-child{
    margin-left: 40px;
    margin-top: 20px;
  }
  .Description-product nav{
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
    width: 80%;
  }
  .Description-product nav ul{
    color: gray;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-right: 200px;
  }
  .Description-product nav ul li{
    list-style: none;
  }
  .Description-product nav .active{
    color: #007BFF;
    border-bottom: 1px solid #007BFF;
  }
  .Description-product{
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background-color: white;
    margin-top: 10px;
    width: 100%;
  }
  .Description-product p:first-child{
    color: black;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
  }
  .Description-product table{
    color: black;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    margin-top: 30px;
    margin-left: 50px;
  }
  .Description-product tr{
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 5px;
    height: 40px;
    width: 200px;
  }
  .Description-product td{
    border-bottom: 1px solid #e2e2e2;
  }
  .Description-product .table-heading{
    color: black;
    background-color: whitesmoke;
    width: 200px;
    border-right: 1px solid #e2e2e2;
  }
 
  .quality li i{
    color: gray;
    margin-bottom: 10px;
  }
  .quality li{
    margin-top: 10px;
    list-style: none;
    color: black;
  }
  .discount-offer{
    background: linear-gradient(to right,#007BFF,#0056b3);
    color: white;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  .discount-offer button{
    background-color: rgb(255, 208, 0);
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    padding: 10px;
  }
  .pagination {
    display: block;
    float: right;
    margin-left: 150px;
  }
.pagination a {
    background-color: white;
    border: 1px solid #e2e2e2;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 100px;
  }
  
  .pagination a.active {
    background-color: white;
    color: black;
  }
   .Subscribe-box{
    background-color: rgb(230, 230, 230);
    text-align: center;
    color: grey;
    margin-top: 1600px;
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 10px;}
.Subscribe-box h3{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.Subscribe-box input{
    width: 180px;
    border: none;
    height: 30px;
}
.Subscribe-box button{
    background-color: rgb(100, 211, 245);
    color: white;
    padding: 5px;
    width: 70px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    height: 30px;
}
  .pagination a:hover:not(.active) {background-color: #e2e2e2}
      .container {
        flex-direction: column;
      }

      .filters {
        order: 1;
      }

      .product-list {
        order: 2;
      }
 body {
      font-size: 14px;
      overflow-x: hidden;
      background-color: whitesmoke;
    }
  .search-container{
    display: none;
  }
  .search-logo-menu{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e2e2e2;
    height: 6em;
    width: 80%;
    margin-left: 5%;
  }
  .details .display1{
    display: none;
  }
  .logo {
    margin-top: -7%;
    width: 20%;
  }
  .logo img{
    width: 170%;
  }
  .details ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0%;
    width: 100%;
    max-width: 100%;
  }
  .details ul li{
    list-style: none;
    padding: 2%;
  }
  .details ul a{
    text-decoration: none;
    color: black;
  }
  nav a{
    display: none;
    padding-left: 0%;
    text-decoration: none;
    color: black;
  }
  nav {
    min-width: 100%;
    margin-left: 2%;
    margin-top: 5%;
    max-width: 73%;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 2%;
  }
  nav a:first-child{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
  }
  nav .right-menu{
    display: flex;
    flex-direction: row;
    margin-right: -10%;
  }
  nav a:last-child{
    margin-top: 0%;
    margin-left: 2%;
    margin-right: -65%;
    display: flex;
    flex-direction: row;
  }
  nav a img{
    width: 10%;
    height: auto;
  }
     
ul.breadcrumb {
    width: 100%;
    margin-left: -10%;
    list-style: none;
    background-color: whitesmoke;
  }
  
  ul.breadcrumb li {display: inline;
     color: gray;
     margin-right: 1%;
}
  
  ul.breadcrumb li+li:before {
    padding-right: 2%;
    color: black;
    content: "\003E";
  }
  ul.breadcrumb li a {color: gray;
   text-decoration: none;
}
#sidebar{
    display: none;
  }
 #sidebar .closebtn{
    margin-right: -5%;
    right: 0;
    margin-left: 90%;
    text-decoration: none;
    color: black;
 }
  .left-col{ background-color: white;
     z-index: 1;
     width: 85%;
     padding: 30px;
     margin-top: 10px;
     position: absolute;
     top: 0;
     left: 0;
     color: black;
}
.side-bar{
    padding: 20px 30px;
    margin-top: 30px;
    color: gray;
}
.side-bar h2{
    font-weight: 500;
    color: black;
}
.side-bar h3{
    color: black;
}
.filter-section-brands{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-type{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-features{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-range{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-condition{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-rating{
    border-top: 1px solid gray;
    padding: 16px;
}
.filter-section-type a{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    text-decoration: none;
    color: gray;
}
.filter-section-type p{
    text-decoration: underline;
    color: rgb(22, 97, 236);
}
.filter-section-brands label{
    color: black;
}
.filter-section-range {
    border-top: 1px solid gray;
    padding: 16px;
  }

 .filter-section-range .slider {
    position: relative;
    height: 30px;
  }

 .slider input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    height: 16px;
    width: 100%;
    appearance: none;
    height: 4px;
    background: transparent;
    outline: none;
    border-radius: 5px;
    margin: 8px 0;
    pointer-events: none;
  }
.slider-track{
    width: 18%;
    height: 5px;
    background-color: white;
    position: absolute;
    margin: auto;
    border-radius: 5px;

}
 .slider input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
  }
  .slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: rgb(70, 135, 233);
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -9px;
  }
  .slider input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
  }
  .slider input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: none;
  }
 .filter-section-range .inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

 .filter-section-range .inputs input {
    width: 45%;
    padding: 6px;
    font-size: 14px;
  }

 .filter-section-range button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: white;
    color: #4285f4;
    font-weight: bold;
    cursor: pointer;
  }
  .details-product{
    display: inline;
    width: 100%;
  }
  .details-product .images img:first-child{
   margin-left: 2%;
   margin-top: -20%;
  }
  .details-product div .more-img{
    display: flex;
    flex-direction: column;
    margin-top: -70%;
    height: 4em;
    width: 40%;
  }
  .details-paragraph{
    margin-top: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .details-paragraph .list-details{
    margin-left: -10%;
  }
  .details-paragraph .prices{
    margin-left: -3%;
    width: 90%;
  }
 .details-paragraph .prices li:last-child{
    margin-right: 2em;
  }
  .details-paragraph .prices li:first-child{
  margin-left: -2em;
  }
  .products-grantuee{
    display: none;
  }
  .shipping-details{
    width: 100%;
    margin-left: -1%;
    height: 24em;
  }
  .shipping-details-more{
    display: flex;
    flex-direction: row;
    padding-left: -2em;
    width: 100%;
  }
  .shipping-details-more li p{
    font-size: 12px;
    margin-top: -1%;
  }
.shipping-details-more li:first-child{
    margin-left: -4.5em;
    margin-right: 2em;
}
.shipping-details-more li{
    display: flex;
    flex-direction: row;
}
.shipping-details-more li img{
    width: 30%;
    height: 2em;
    margin-right: 7%;
    margin-top: 0.2em;
}
.shipping-details-heading{
    margin-left: -3em;
}
.description-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -10%;
}
.Description-product ul{
    display: flex;
    flex-direction: row;
    padding: -5em;
}
.Description-product ul li:first-child{
    margin-left: -2em;
    margin-right: 2em;
}
.Description-product ul .review{
    margin-right: 3em;
}
.Description-product ul li:last-child{
display: none;
}
.Description-product ul li{
    padding: 10%;
}
.Description-product table,.quality{
    display: none;
}
.quality li{
    display: none;
}
.Description-product .decribe p{
    flex-wrap: wrap;
    width: 100%;
}
.Description-product{
    width: 90%;
    margin-left: 12%;
}
.more-item{
    width: 80%;
}
.more-item ul {
  display: flex;
  flex-direction: column;
}
.save-for-later ul li span{
  margin-left: -50%;
  margin-right: 0%;
  display: inline-block;
}
.save-for-later{
    display: none;
}
  .pagination{
    bottom: 0;
    right: 0;
    margin-bottom: -300%;
    margin-right: 5%;
    margin-left: -25%;
    position: absolute;
  }
  .Subscribe-box{
    align-items: center;
  }
  .Subscribe-box h3{
    margin-left: 10%;
  }
  .Subscribe-box p{
    margin-left: -5%;
  }
  .Subscribe-box input{
    width: 60%;
    margin-left: 7%;
  }
  .Subscribe-box button{
    margin-left: -20%;
    margin-right: 10%;
  }
   .bottom .list-info{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -5%;
    margin-right: 5%;
  }  
  .list-info ul a li{
    text-decoration: none;
    color: gray;
    list-style: none;
  }
  .list-info ul a{
    text-decoration: none;
  }
  .buttons-text{
    left: 0;
    margin-left: -170%;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    width: 120%;
    list-style: none;
  }
  .buttons button{
    background-color: black;
    color: white;
  }
  .copyright{
    background-color: white;
    width: 100%;
    padding: 3% 0%;
  }
  .copyright .flag{
    margin-left: 30%;
  }
    }
